body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: darkred;
}
div{
    background-color: brown;
    padding: 30px;
    color: white;
    font-size: 20px;
    margin: 20px;
}
div p{
    text-align: justify;
}
.titulo{
    background-color: tomato;
}